.today
{
	background-color: #D6EAF8;
}

.event
{
	z-index: 99999;
}

._cal {
  width: 100%;
}

._cal a {
  text-decoration: none;
}

._cal ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

._cal li {
  display: block;
  float: left;
  width: 14.342%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: -1px;
  margin-bottom: -1px;
}

._cal ul.weekdays {
  height: 40px;
}

._cal ul.weekdays li {
  text-align: center;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  font-size: 13px;
}

._cal .days li {
  height: 180px;
}

._cal .days li:hover {
  background: #d3d3d3;
}

._cal .day
{
	overflow: auto;
}

._cal .event {
  clear: both;
  display: block;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  line-height: 14px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-decoration: none;
  min-width: 99% !important;
}

._cal .events
{
	margin-left: -10%;
}

._cal .event-desc {
  color: #666;
  margin: 3px 0 7px 0;
  text-decoration: none;
}

._cal .other-month {
  background: #f5f5f5;
  color: #666;
}

/* ============================
	Mobile Responsiveness
   ============================*/
@media (max-width: 768px) {
  ._cal .weekdays, ._cal .other-month {
    display: none;
  }

  ._cal li {
    height: auto !important;
    border: 1px solid #ededed;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
  }

  ._cal .date {
    float: none;
  }
}